@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event</title>

    <link rel="stylesheet" href="../css/style.css">

    <!-- endinject -->
    <!-- <link rel="shortcut icon" href="images/favicon.png" /> -->

    <style>
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 600px;
            margin: auto;
        }

        .col-md-12 {
            width: 100%;
            padding-left: 2%;
            padding-right: 2%;
        }

        .col-md-6 {
            width: 46%;
            margin: auto;
            padding-left: 2%;
            padding-right: 2%;
        }

            .col-md-6 img {
                width: 100%;
            }

        .text-center {
            text-align: center;
        }

        .col-md-2 {
            width: 16%;
            padding-left: 2%;
            padding-right: 2%;
        }

        .col-md-10 {
            width: 76%;
            padding-left: 2%;
            padding-right: 2%;
        }

        p {
            margin: 0 0 10px 0;
        }

        a {
            text-decoration: none;
        }

        .text-danger {
            color: red;
        }

        .d-flex {
            display: flex;
            justify-content: space-around;
        }

        .colorPrimary {
            color: blue;
        }

        .mb-1 {
            margin-bottom: 1em;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <p>Hello Person,</p>
            </div>

            <div class="col-md-12 mb-1">
                <p>
                    I would love to invite you for our exiting event. <br>
                    Please find the details below and let me know if you will be able to come, so that I will hold
                    the seat for you.<br>
                </p>
            </div>
            <div class="row mb-1">
                <div class="col-md-12 colorPrimary">
                    <h3 class="colorBlack noMargin">
                        Industrial Internet of Things India 2019
                        (IIoT India
                        2019)
                    </h3>
                </div>
                <div class="col-md-6">
                    <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F62757241%2F280529842488%2F1%2Foriginal.20190523-054405?w=600&auto=compress&rect=49%2C0%2C1008%2C504&s=feaa2b9e8cef5d1e7ad842c5ab61ec63"
                         class="card-img-top" alt="..." width="100%">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 padding5">
                            <p class="text-muted noMargin">Thu, Dec 5, 9:00am</p>
                            <p class="text-muted">Indian Institute of Technology Delhi, New
                            <p>
                                <a href="">
                                    <i class="fa fa-link"> </i>
                                    https://link of the event
                                </a>
                            </p>
                            <p class="">
                                <span class="text-muted">For more information contact on</span> <br>
                                mail@dummy.com <br>
                                <span>1234567890</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 mb-1">
                <hr>
                <p>
                    Please let me know are you interested for the event throught the option below the
                    event
                    details
                </p>
            </div>

            <div class="col-md-12 d-flex bd-highlight mb-1">
                <a href="" class="card-link flex-fill bd-highlight">Confirm</a>
                <a href="" class="card-link flex-fill bd-highlight">Tentative</a>
                <a href="" class="card-link flex-fill bd-highlight">Sorry Cant make it</a>

            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12">
                <p>
                    <small class="text-muted text-center text-sm-left d-block d-sm-inline-block mt-3">
                        The email is send
                        from
                        <a href="">Event N Pass</a> | <b>Note:- </b> Seats are limited and filling faster
                </p>
            </div>
        </div>

    </div>
</body>

</html>