
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p {
    font-size: 16px;
}
    h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
    h4 {
    font-size: 20px;
    font-weight: 600;
}
</style>
<div class="container">

    <div class="row" style="padding-top: 100px;">
        <div class="col-md-12">
            <div class="terms">
                <h3>Privacy Policy</h3>
                <h4>Introduction</h4>
                <p>
                    Virtual Solutions Limited respects the privacy of our users. This Privacy Policy explains how
                    we collect, use, disclose, and safeguard your information when you visit our website
                    www.ticketsandinvites.com , including any other media form, media channel, mobile website,
                    or mobile application related or connected thereto (collectively, the “Site”). Please read
                    this privacy policy carefully. If you do not agree with the terms of this privacy policy,
                    please do not access the site.
                </p>
                <p>
                    We reserve the right to make changes to this Privacy Policy at any time and for any reason.
                    We will alert you about any changes by updating the “Last Updated” date of this Privacy
                    Policy. Any changes or modifications will be effective immediately upon posting the updated
                    Privacy Policy on the Site, and you waive the right to receive specific notice of each such
                    change or modification.
                </p>
                <p>
                    You are encouraged to periodically review this Privacy Policy to stay informed of updates.
                    You will be deemed to have been made aware of, will be subject to, and will be deemed to
                    have accepted the changes in any revised Privacy Policy by your continued use of the Site
                    after the date such revised Privacy Policy is posted.
                </p>


                <h4>COLLECTION OF YOUR INFORMATION</h4>
                <p>
                    We may collect information about you in a variety of ways. The information we may collect on
                    the Site includes:
                </p>
                <h5>
                    Personal Data
                </h5>
                <p>
                    Personally identifiable information, such as your name, shipping address, email address, and
                    telephone number that you voluntarily give to us [when you register with the Site. You are
                    under no obligation to provide us with personal information of any kind, however your
                    refusal to do so may prevent you from using certain features of the Site.
                </p>
                <h5>Derivative Data</h5>
                <p>
                    Information our servers automatically collect when you access the Site, such as, your
                    browser type, your operating system, your access times, and the pages you have viewed
                    directly before and after accessing the Site.
                </p>
                <h5>Financial Data</h5>
                <p>
                    All financial information is stored by payment by users selected mobile money service
                    provider or bank. We do not store any financial information of users except for bank account
                    and mobile money account details only for the purpose of making payments to our registered
                    clients.
                </p>
                <h5>
                    Data From Social Networks
                </h5>
                <p>
                    User information from social networking sites. We only validate your login credentials via
                    apis provided by the social network and do not store any personal information except
                    username,email and full name
                </p>
                <h5>
                    Data From Contests, Giveaways, and Surveys
                </h5>
                <p>
                    Personal and other information you may provide when entering contests or giveaways and/or
                    responding to surveys.
                </p>
                <h4>
                    USE OF YOUR INFORMATION
                </h4>
                <p>
                    Having accurate information about you permits us to provide you with a smooth, efficient,
                    and customized experience. Specifically, we may use information collected about you via the
                    Site to:
                </p>
                <p>
                    ● Compile anonymous statistical data and analysis for use internally or with third parties.
                </p>
                <p>
                    ● Create and manage your account.
                </p>
                <p>
                    ● Deliver targeted advertising, coupons, newsletters, and other information regarding
                    promotions and the Site to you.
                </p>
                <p>
                    ● Email you regarding your account or order.
                </p>
                <p>
                    ● Enable user-to-user communications.
                </p>
                <p>
                    ● Fulfill and manage purchases, orders, payments, and other transactions related to the Site
                    [and our mobile application.
                </p>
                <p>
                    ● Generate a personal profile about you to make future visits to the Site [and our mobile
                    application] more personalized.
                </p>
                <p>
                    ● Increase the efficiency and operation of the Site [and our mobile application.
                </p>
                <p>
                    ● Monitor and analyze usage and trends to improve your experience with the Site [and our
                    mobile application.
                </p>
                <p>
                    ● Notify you of updates to the Site.
                </p>
                <p>
                    ● Offer new products, services, and/or recommendations to you.
                </p>
                <p>
                    ● Perform other business activities as needed.
                </p>
                <p>
                    ● Prevent fraudulent transactions, monitor against theft, and protect against criminal
                    activity.
                </p>
                <p>
                    ● Process payments and refunds.
                </p>
                <p>
                    ● Request feedback and contact you about your use of the Site .
                </p>
                <p>
                    ● Resolve disputes and troubleshoot problems.
                </p>
                <p>
                    ● Respond to product and customer service requests.
                </p>
                <p>
                    ● Send you a newsletter.
                </p>
                <p>
                    ● Solicit support for the Site.
                </p>
                <h4>
                    DISCLOSURE OF YOUR INFORMATION
                </h4>
                <p>
                    We may share information we have collected about you in certain situations. Your information
                    may be disclosed as follows:
                </p>
                <h5>
                    By Law or to Protect Rights
                </h5>
                <p>
                    If we believe the release of information about you is necessary to respond to legal process,
                    to investigate or remedy potential violations of our policies, or to protect the rights,
                    property, and safety of others, we may share your information as permitted or required by
                    any applicable law, rule, or regulation. This includes exchanging information with other
                    entities for fraud protection and credit risk reduction.
                </p>
                <h5>
                    Third-Party Service Providers
                </h5>
                <p>
                    We may share your information with third parties that perform services for us or on our
                    behalf, including payment processing, data analysis, email delivery, hosting services,
                    customer service, and marketing assistance.
                </p>
                <h5>
                    Interactions with Other Users
                </h5>
                <p>
                    If you interact with other users of the Site, those users may see your name, profile photo,
                    and descriptions of your activity, including sending invitations to other users, chatting
                    with other users, liking posts, following blogs.
                </p>
                <h5>
                    Sale or Bankruptcy
                </h5>
                <p>
                    If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired
                    by another entity, we may transfer your information to the successor entity. If we go out of
                    business or enter bankruptcy, your information would be an asset transferred or acquired by
                    a third party. You acknowledge that such transfers may occur and that the transferee may
                    decline honor commitments we made in this Privacy Policy.
                </p>
                <p>
                    We are not responsible for the actions of third parties with whom you share personal or
                    sensitive data, and we have no authority to manage or control third-party solicitations. If
                    you no longer wish to receive correspondence, emails or other communications from third
                    parties, you are responsible for contacting the third party directly.
                </p>
                <h4>
                    TRACKING TECHNOLOGIES
                </h4>
                <h5>Cookies and Web Beacons</h5>
                <p>
                    We may use cookies, web beacons, tracking pixels, and other tracking technologies on the
                    Site to help customize the Site and improve your experience. When you access the Site, your
                    personal information is not collected through the use of tracking technology. Most browsers
                    are set to accept cookies by default. You can remove or reject cookies but be aware that
                    such action could affect the availability and functionality of the Site. You may not decline
                    web beacons. However, they can be rendered ineffective by declining all cookies or by
                    modifying your web browser’s settings to notify you each time a cookie is tendered,
                    permitting you to accept or decline cookies on an individual basis.
                </p>
                <h4>
                    THIRD-PARTY WEBSITES
                </h4>
                <p>
                    The Site may contain links to third-party websites and applications of interest, including
                    advertisements and external services, that are not affiliated with us. Once you have used
                    these links to leave the Site [or our mobile application], any information you provide to
                    these third parties is not covered by this Privacy Policy, and we cannot guarantee the
                    safety and privacy of your information. Before visiting and providing any information to any
                    third-party websites, you should inform yourself of the privacy policies and practices (if
                    any) of the third party responsible for that website, and should take those steps necessary
                    to, in your discretion, protect the privacy of your information. We are not responsible for
                    the content or privacy and security practices and policies of any third parties, including
                    other sites, services or applications that may be linked to or from the Site or our mobile
                    application.
                </p>
                <h4>SECURITY OF YOUR INFORMATION</h4>
                <p>
                    We use administrative, technical, and physical security measures to help protect your
                    personal information. While we have taken reasonable steps to secure the personal
                    information you provide to us, please be aware that despite our efforts, no security
                    measures are perfect or impenetrable, and no method of data transmission can be guaranteed
                    against any interception or other type of misuse. Any information disclosed online is
                    vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot
                    guarantee complete security if you provide personal information.
                </p>
                <h4>
                    POLICY FOR CHILDREN
                </h4>
                <p>
                    We do not knowingly solicit information from or market to children under the age of 13. If
                    you become aware of any data we have collected from children under age 13, please contact us
                    using the contact information provided below.
                </p>
                <h4>
                    OPTIONS REGARDING YOUR INFORMATION
                </h4>
                <h5>
                    Account Information
                </h5>
                <p>
                    You may at any time review or change the information in your account or terminate your
                    account by:
                </p>
                <p>
                    ● Logging into your account settings and updating your account
                </p>
                <p>
                    ● Contacting us using the contact information provided below
                </p>
                <p>
                    Upon your request to terminate your account, we will deactivate or delete your account and
                    information from our active databases. However, some information may be retained in our
                    files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our
                    Terms of Use and/or comply with legal requirements.
                </p>
                <h5>
                    Emails and Communications
                </h5>
                <p>
                    If you no longer wish to receive correspondence, emails, or other communications from us,
                    you may opt-out by:
                </p>
                <p>
                    ● Logging into your account settings and updating your preferences.
                </p>
                <p>
                    ● Contacting us using the contact information provided below
                </p>
                <p>
                    If you no longer wish to receive correspondence, emails, or other communications from third
                    parties, you are responsible for contacting the third party directly.
                </p>
                <h4>
                    CONTACT US
                </h4>
                <p>If you have questions or comments about this Privacy Policy, please contact us at:</p>
                <p>Virtual Solutions Limited</p>
                <p>Hse No 3, 2nd Macaroni Street</p>
                <p>East Legon, Accra Ghana</p>
                <p>+233 50-933-6844</p>
                </p>
            </div>
        </div>
    </div>

</div>

