
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .terms {
        color: #fff;
    }
    p {
        font-size: 16px;
    }
    h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
</style>
<div class="container">

    <div class="row" style="padding-top: 100px;">
        <div class="col-md-12">
            <div class="terms">
                <h3>Terms & Conditions</h3>
                <h4>Introduction</h4>
                <p>
                    Virtual Solutions Limited (“we”, “us”) is the owner of www.stream233.com a website
                    for promoting public and privates events (“Event”, “Events”) for individuals(“Individuals”)
                    and event organisers(“Event Organisers”). Tickets (“Tickets”) and Invites (“Invites”) for
                    Events are sold by event organisers who register on the website to host their events.
                    Notwithstanding the terms and conditions of such ticketing agents which may apply to the
                    sale of a Ticket or creation of Invites for a particular Event, by purchasing and/or holding
                    and/or being in possession of a Ticket or Tickets, the holder of the Ticket (“Ticket
                    holder”, “you”, “your”) agrees to and is bound by these terms and conditions (“Ticketing
                    Terms”).
                </p>
                <p>
                    We further encourage you to contact the Venue and/or visit the Venue website and/or the
                    Venue box office for their most recent terms and conditions.
                </p>
                <p>
                    The provisions of these Ticketing Terms are for the benefit of our ticketing agents and
                    purchasers of Tickets and Invites.
                </p>
                <p>
                    All clauses in the Ticketing Terms indicated in BOLD are provisions which limit the risk or
                    liability of Virtual Solutions and constitute an assumption of risk or liability by you,
                    impose an obligation on you to indemnify Virtual Solutions or is an acknowledgement of a
                    fact by you, and are therefore drawn to your attention. You should pay particular attention
                    to such clauses and consider them carefully.
                </p>
                <h4>The Ticketing Terms</h4>
                <p>
                    1. Each Ticket you purchase from www.veetickets.com through an Event Organiser is
                    intended to give you a revocable license (or right) to entry and attendance of the
                    particular Event only to which the Ticket pertains. Each Ticket holder has a right to a seat
                    or standing place in relation to the stage, of a value corresponding to that stated on the
                    Ticket holder’s Ticket.
                </p>
                <p>
                    2. A Ticket does not afford the Ticket holder the right to transport to the Venue, or
                    parking, or merchandise, or any food or beverages at the Venue, unless otherwise stated.
                    Other independent service providers might render services relating to transport, parking,
                    merchandise, food or beverages at the Venue and in such circumstances, the terms and
                    conditions of such service providers will apply between it and persons who make use of such
                    products or services.
                </p>
                <p>
                    3. You must produce a valid Ticket to gain entry to the Venue and you must produce that
                    Ticket for inspection upon request from an Event official at any time. Failure to produce
                    such Ticket when requested may result in you being denied access to the Venue or in you
                    being removed from the Venue.
                </p>
                <p>
                    4. Tickets are not transferable and cannot be resold or offered for resale (including
                    on-line auction sites) or used for commercial purposes including advertising, competitions,
                    contests, sweepstakes, promotions, or used, sold or given away in conjunction with other
                    products or services (such as part of a travel or hospitality package) without the express
                    written permission of the Event Organiser in advance. If this condition is breached the
                    Ticket may be cancelled without refund or compensation and the bearer of the Ticket may be
                    refused entry or removed from the Venue.

                </p>
                <p>
                    5. Any Tickets brought from unauthorised agents or third parties are not valid and admission
                    to an Event on the strength of such Tickets will not be permitted. All Tickets remain the
                    property of BCI at all times and constitute a personal revocable license from BCI to the
                    Ticket holder which may be withdrawn by BCI and admission refused at any time upon refunding
                    the printed purchase price of the Ticket.
                </p>
                <p>
                    6. The Event Organiser reserves the right to restrict the sale of Tickets to a maximum
                    number per person, per credit card and/or per household and to cancel any Tickets purchased
                    in excess of this number.
                </p>
                <p>
                    7. If an error is made in the price of Tickets ordered by you, you will be notified by the
                    Event Organiser as soon as possible and they will give you the option to either (a)
                    reconfirm your Ticket order at the correct price; or (b) cancel your Ticket order and
                    receive a full refund from them.
                </p>
                <p>
                    8. It is your responsibility to (i) ensure that your Tickets are collected by or delivered
                    to you before the date of the Event; (ii) keep your Tickets safe prior to the Event; and
                    (iii) check your Tickets and to ascertain the date and the time of the Event and if
                    applicable, any rescheduled Event. Event dates and times are subject to change. Virtual
                    Solutions is not responsible or liable should you fail to obtain your Tickets timeously or
                    for any Tickets that are lost, stolen or damaged.
                </p>

                <h4>CANCELLATION POLICY</h4>
                <p>
                    9. Ticket cancellation or refund request shall be handled directly with the event organizer
                </p>
                <p>
                    11. The following restrictions will apply to your attendance at an Event and your breach of
                    any of these may lead to you being ejected from the Venue:
                </p>
                <p>
                    12.1. Appropriate standards of behaviour are expected of all persons attending an Event and
                    persons deemed to be behaving in a manner that is dangerous or unacceptable in the opinion
                    of Event Organizers or its agents or contractors, will be refused admission and/or removed
                    from the Venue with no refund on the Ticket.
                </p>
                <p>
                    12.2. In order to facilitate the security, safety and comfort of all patrons, Event
                    Organisers reserve the right in their reasonable discretion to conduct security searches of
                    persons, clothing, bags and all other items on entry and exit of a Venue, to confiscate
                    items which may cause danger or disruption to the Event.
                </p>
                <p>
                    12.3. Ticket holders may be ejected from the Venue if, in the reasonable opinion of Event
                    Organizers or its agents or any contractors appointed by Virtual Solutions, or the Venue,
                    the Ticket holder is a risk to the safety of any patron and/or may affect the enjoyment of
                    other patrons and/or the running of the Event or may cause damage, nuisance or injury.
                    Examples include being (or appearing to be) drunk, incapable, intoxicated or under the
                    influence of illegal drugs, under-age (where relevant), abusive, threatening, behaving
                    anti-socially, carrying offensive weapons or illegal substances, declining to be searched or
                    in breach of any of these Ticketing Terms or the terms and conditions of the Venue.
                </p>
                <p>
                    12.4. There are to be no pass-outs or re-admissions after you exit the gates of a Venue
                    (after entry) and you will not be permitted to re-enter the Venue.
                </p>
                <p>
                    12.5. The following items are not permitted to be brought into a Venue:
                </p>
                <p>
                    12.5.1. Glass bottles or containers or other heavy and/or sharp objects, which could
                    potentially be used as projectiles (excluding sunglasses, binoculars and prescription or
                    reading glasses)
                </p>
                <p>
                    12.5.2. Any illegal drugs
                </p>
                <p>
                    12.5.3. Skateboards, scooters, roller blades or bicycles
                </p>
                <p>
                    12.5.4. Knives, weapons of any nature or fireworks
                </p>
                <p>
                    12.5.5. Any object that could be used to distract, hinder or interfere with any performer,
                    including laser pointers and flashlights
                </p>
                <p>
                    12.5.7. Any whistle, horn, musical instrument, loud hailer or public address system
                </p>
                <p>
                    12.5.8. Digital, electronic or other recording or broadcast device
                </p>
                <p>
                    12.5.9. Any item that you intend to distribute, hawk, sell, offer, expose for sale or
                    display for marketing or promotional purposes
                </p>
                <p>
                    12.5.10. No animals apart from authorized guide/assistance dogs
                </p>
                <p>
                    12.5.11. Any dangerous goods and any other items by management to be dangerous or capable of
                    causing a public nuisance
                </p>
                <p>
                    12.5.12. Professional cameras or video recorders
                </p>
                <p>
                    12.5.13. Umbrellas (unless there is an obvious threat of rain), in which case small
                    umbrellas will be permitted but no golf or beach umbrellas
                </p>
                <p>

                </p>
                <p>
                    12.5.15. Camping Chairs
                </p>
                <p>
                    12.5.16. Cooler Boxes
                </p>
                <p>
                    12.5.17. Food and refreshments (including soft drinks and alcohol).
                </p>
                <p>
                    12.6. Please note that in seated areas, other members of the audience may stand up during
                    the Event.
                </p>
                <p>
                    12.7. Smoking is not permitted in the Venue.
                </p>
                <p>
                    12.8. The unauthorized use of photographic, video and/or sound recording equipment is
                    prohibited.
                </p>
                <p>
                    12.9. Efforts will be made to admit latecomers at an appropriate break in the performance of
                    the Event. Entry will not be permitted if it will disrupt the performance.
                </p>
                <p>
                    13. If you are a disabled person, you are requested to inform the Event Organizer, its
                    agents and contractors will use their reasonable endeavour to accommodate and assist you at
                    the Event, subject to their capacity to do so, and the confines and layout of the Venue
                    facilities.
                </p>
                <p>
                    14. All children attending an Event must be in possession of a valid Ticket. Events may be
                    age-restricted and it is the responsibility of the Ticket holder to check age restrictions
                    to an Event before purchasing a Ticket. In any case, unless indicated otherwise, a
                    responsible adult must accompany children 14 years of age and under. No children under the
                    age of 3 (three) are allowed to attend an event.
                </p>
                <p>
                    15. Please note that CCTV and film cameras may be present at the Venue. By purchasing
                    Tickets and attending the Event, you consent to being filmed, photographed, videotaped, or
                    otherwise recorded, and that your name, voice and likeliness may be broadcaster, displayed
                    or distributed (commercial or otherwise) without any compensation being paid to you.
                </p>
                <p>
                    16. You voluntarily assume all risks and dangers incidental to an Event, whether occurring
                    before, during or after the Event, and you waive any claims for loss, damage, personal
                    injury or death against Event Organizers, the management of Virtual Solutions, any agent of
                    Virtual Solutions, the performing artist(s), participants, and all of their respective
                    parents, affiliated entities, agents, officers, directors, owners and employees on behalf of
                    yourself and any minor accompanying you or for whom you purchased a Ticket.
                </p>
                <p>
                    17. Neither the Venue nor Event Organizers can accept responsibility for damage to or loss
                    of any personal property at an Event.
                </p>
                <p>
                    18. You bear the risk of inclement weather.
                </p>
                <p>
                    19. To the fullest extent possible in law, we do not accept liability for and you will have
                    no claim in respect of:
                </p>
                <p>
                    19.1. any errors relating to the location of your seat or standing place relative to the
                    stage as indicated on the seating plan prepared for the Venue; or
                </p>
                <p>
                    19.2. the quality of the view from your seat or standing place; or
                </p>
                <p>
                    19.3. the lack of or inadequacy of parking at the Venue; or
                </p>
                <p>
                    19.4. any problems relating to the adequacy of traffic control to and from the Venue; or
                </p>
                <p>
                    19.5. the lack of or inadequacy of food and beverages at the Venue; or
                </p>
                <p>
                    19.6. the quality of sound and lighting at the Event; or
                </p>
                <p>
                    19.7. the quality of any services provided by independent contractors at the Venue.
                </p>
                <p>
                    20. You agree and acknowledge that neither Event nisers nor Virtual Solutions nor any of its
                    agents have guaranteed or made any warranties or representations to you in relation to the
                    accuracy of the location of your seat or standing place relative to the stage as indicated
                    on the seating plan prepared for the Venue, the availability of parking at the Venue and/or
                    the adequacy of traffic control to or from the Venue.
                </p>
                <p>
                    21. If any provision of these Ticketing Terms is or becomes illegal, invalid or
                    unenforceable in any jurisdiction that shall not affect the legality, validity or
                    enforce-ability in that jurisdiction of any other provision of these Ticketing Terms; or the
                    legality, validity or enforce-ability in any other jurisdiction of that or any other
                    provision of these Ticketing Terms.
                </p>
                <p>
                    22. No indulgence which Event Organizers or any of its agents and/or contractors (the
                    “Granter”) may grant to you and/or the Ticket holder (the “Grantee”) shall constitute a
                    waiver of any of the rights of the Granter, who shall not thereby be precluded from
                    exercising any rights against the Grantee which might have arisen in the past or which might
                    arise in the future.
                </p>
                <p>
                    23. These Ticketing Terms cancel and supersede all prior negotiations and previous
                    agreements, understandings and arrangements, whether written or oral, between you and Event
                    Organisers or any of its agents and/or contractors.
                </p>
                <p>
                    24. These Ticketing Terms constitute the whole agreement between you and/or the Ticket
                    holder and Event Organizers in respect of the subject matter hereof and no addition to or
                    variation or notation of this agreement shall be of any force or effect, unless reduced to
                    writing and signed by the above parties or their duly authorized representatives.
                </p>
                <p>
                    25. These Ticketing Terms shall be governed by Ghanaian Law and be subject to the exclusive
                    jurisdiction of the Ghanaian courts.
                </p>
                <h4>General</h4>
                <p>
                    26. If you experience any problems at the Event, please contact a steward or duty manager as
                    it may not be possible to resolve issues after the Event.
                </p>
                <p>
                    27. In case of emergency please follow instructions and directions from stewards, staff
                    and/or other officials.
                </p>

                <p>28. Please note that loud music at Events can damage hearing.</p>

                <p>29. The staging of all events is subject to obtaining the relevant licences.</p>
                <p>
                    30. When purchasing alcohol at a Venue, if you appear to be under the age of 18 you may be
                    asked for proof of age.
                </p>
                <p>
                    31. Official merchandise is only available from Event Organisers, Virtual Solutions and/or
                    outlets within the Venue. Please beware of unofficial traders offering inferior and illegal
                    goods.
                </p>
            </div>
        </div>
    </div>

</div>

