
@{
    ViewBag.Title = "History";
    Layout = "~/Areas/Organizer/Views/Shared/_organizerLayout.cshtml";
}

<div class="content-wrapper">

    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-currency-usd"></i>
            </span>
            Transaction History
        </h3>
        <!-- <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <span></span>Overview
              <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
          </ul>
        </nav> -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-6 filter1">
                    <p class="d-inline-block">Event sales</p>
                    <p class="d-inline-block float-right">
                        <a href="">Last Week</a> &nbsp;&nbsp;
                        <a href="" class="text-muted">Last Month</a> &nbsp;&nbsp;
                        <a href="" class="text-muted">Last Year</a> &nbsp;&nbsp;
                    </p>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="" class="d-inline-block">Start Date</label>
                        <input type="date" class="form-control d-inline-block" id=""
                               aria-describedby="emailHelp" placeholder="">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="" class="d-inline-block">End Date</label>
                        <input type="date" class="form-control d-inline-block" id=""
                               aria-describedby="emailHelp" placeholder="">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">
                            <table id="dtBasicExample" class="table table-striped table-bordered"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Event name</th>
                                        <th>Event Date</th>
                                        <th>Booked / Total</th>
                                        <th>Transaction costs</th>
                                        <th>Total Earned</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>DD/MM/YYY </td>
                                        <td>
                                            <a href="">
                                                Event 1 Name
                                            </a>
                                        </td>
                                        <td>10 Jul 2019 18:00 - 20:00 </td>
                                        <td>0 / 70 </td>
                                        <td>00.00 Gh₵ </td>
                                        <td>00.00 Gh₵ </td>
                                    </tr>
                                    <tr>
                                        <td>DD/MM/YYY </td>
                                        <td>
                                            <a href="">
                                                Event 1 Name
                                            </a>
                                        </td>
                                        <td>10 Jul 2019 18:00 - 20:00 </td>
                                        <td>0 / 70 </td>
                                        <td>00.00 Gh₵ </td>
                                        <td>00.00 Gh₵ </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

