
@{
    ViewBag.Title = "TicketDetail";
    Layout = "~/Areas/Organizer/Views/Shared/_organizerLayout.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-sm-2 page-header">
            <a href="~/Organizer/Tickets"
               class="btn btn-outline-primary btn-rounded btn-icon mr-2 icon-center">
                <i class="mdi mdi-backburger"></i>
            </a>
        </div>
        <div class="col-sm-6 padding5">
            <a href="EventDetail.html">
                <h6 class="colorBlack noMargin page-title">
                    Industrial Internet of
                    Things
                    India 2019 (IIoT India
                    2019)
                </h6>
                <p class="text-muted noMargin">Thu, Dec 5, 9:00am</p>
                <p class="text-muted noMargin">
                    Indian Institute of
                    Technology
                    Delhi, New Delhi, DL
                    Free
                </p>
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="col-md-5 offset-2 bgDark padding25 borderR10">
                <div class="card">
                    <a href="~/Home/EventDetail">
                        <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F62757241%2F280529842488%2F1%2Foriginal.20190523-054405?w=600&auto=compress&rect=49%2C0%2C1008%2C504&s=feaa2b9e8cef5d1e7ad842c5ab61ec63"
                             class="card-img-top" alt="..." width="100%">

                    </a>
                    <div class="card-body pt-0">
                        <div class="arc top-12 right-12"></div>
                        <div class="arc top-12 left-12"></div>
                        <div class="arc bottom-12 right-12"></div>
                        <div class="arc bottom-12 left-12"></div>
                        <div class="row">
                            <div class="col-sm-12 padding5">
                                <h6 class="colorBlack noMargin page-title">
                                    Industrial Internet of
                                    Things
                                    India 2019 (IIoT India
                                    2019)
                                </h6>
                                <p class="text-muted noMargin">Thu, Dec 5, 9:00am</p>
                                <p class="text-muted noMargin">
                                    Indian Institute of
                                    Technology
                                    Delhi, New Delhi, DL
                                    Free
                                </p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col mr-1 borderOnLight text-center">
                                <h5>
                                    <small class="text-muted">Sector</small> <br>
                                    201
                                </h5>
                            </div>
                            <div class="col mr-1 borderOnLight text-center">
                                <h5>
                                    <small class="text-muted">row</small> <br>
                                    20
                                </h5>
                            </div>
                            <div class="col  borderOnLight text-center">
                                <h5>
                                    <small class="text-muted">Seat</small> <br>
                                    12
                                </h5>
                            </div>
                        </div>


                        <div class="arc right-12"></div>
                        <div class="arc left-12"></div>
                        <hr class="borderDashed">
                        <div class="row">
                            <div class="col">
                                <img src="images/barcode.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

