<style>
    .d-sm-flex {
        display: block !important;
        text-align: center !important;
    }
</style>
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between" >
        <span class="text-muted text-center  d-block d-sm-inline-block ">
            Copyright © 2020 Stream233. All rights reserved.
        </span>
    </div>
</footer>
